body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 34px;
	color: white;
	text-align: center;
	 background-image: url("http://www.4usky.com/data/out/60/164536843-miami-vice-wallpapers.jpg")
}

img {
	height: 324px;
	width: 700px;
}